<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Friends</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
<ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>

<div align="center" *ngIf="searching" class="spinner-container">
    <ion-spinner></ion-spinner>
</div>
 
<ion-list>
	<ion-item-sliding *ngFor ="let friend of friends">
		<ion-item>
	      <ion-avatar item-left>
	        <img src="{{friend.avatar}}">
	      </ion-avatar>
	      <h2>{{friend.username}}</h2>
	      <h3>{{friend.points}} points</h3>
	      <p>{{friend.status}}</p>
	    </ion-item>
	    <ion-item-options side="right">
	      <button ion-button color="danger" (click)="deleteFriend(friend)">
	        <ion-icon name="trash"></ion-icon>
	        Delete friend
	      </button>
	    </ion-item-options>
	</ion-item-sliding>
</ion-list>

</ion-content>



  <ion-item-sliding>

  </ion-item-sliding>
