<ion-header>
  <ion-navbar>
    <ion-title>Select a Category</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding class="card-background-page">
	<div align="center">
		<h1>Question: {{index}}/10</h1>
	</div>
	<ion-list>
  		<ion-item>
    		<ion-icon name="star" item-left></ion-icon>
      		Current points: {{unekoPuntuak}}
  		</ion-item>
	</ion-list>
	<ion-card *ngIf="category === 'Geography'">
	    <img class="back" src="assets/img/Geography.png"/>
	    <div class="card-title">Geography</div>
	    <div class="card-subtitle">Questions about the world</div>
  	</ion-card>

  	<ion-card *ngIf="category === 'History'">
	    <img class="back" src="assets/img/History.jpg"/>
	    <div class="card-title">History</div>
	    <div class="card-subtitle">Prove your knowledge about the past</div>
  	</ion-card>

  	<ion-card *ngIf="category === 'Art'">
	    <img class="back" src="assets/img/Art.jpg"/>
	    <div class="card-title">Art</div>
	    <div class="card-subtitle">Are you an artist?</div>
  	</ion-card>

  	<ion-card *ngIf="category === 'Entertainment'">
	    <img class="back" src="assets/img/Entertainment.jpg"/>
	    <div class="card-title">Entertainment</div>
	    <div class="card-subtitle">Hello, it's a me, Mario!</div>
  	</ion-card>

  	<ion-card *ngIf="category === 'Sports'">
	    <img class="back" src="assets/img/Sports.jpg"/>
	    <div class="card-title">Sports</div>
	    <div class="card-subtitle">GOAAAL!</div>
  	</ion-card>

  	<ion-card *ngIf="category === 'Science'">
	    <img class="back" src="assets/img/Science.jpg"/>
	    <div class="card-title">Science</div>
	    <div class="card-subtitle">Is your IQ close to Einstein's?</div>
  	</ion-card>

  	<table width="100%">
		<tr>
			<td width="50%">
				<button ion-button large color="danger" (click)="doConfirm()" block>Exit</button>
			</td>
			<td width="50%">
				<button ion-button large block (click) = 'ansQuest()'>Start</button>
			</td>
		</tr>
	</table>
</ion-content>