<ion-menu [content]="content" id="menu" persistent="true">
  <ion-header>
    <br>
    <ion-avatar item-center>
      <img width="100" class="displayed" src="{{avatar}}">
    </ion-avatar>
    <h2 align="center">{{username}}</h2>
  </ion-header>

  <ion-content>
    <ion-list>
      <div *ngFor="let p of pages">
        <button menuClose ion-item *ngIf="!p.admin" (click)="openPage(p)">
            {{p.title}}
        </button>
        <button menuClose ion-item *ngIf="p.admin && username==='admin'" (click)="openPage(p)">
            {{p.title}}
        </button>
      </div>
      <button menuClose ion-item (click)="logout()">Log out</button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
